@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: rgb(34, 34, 34);
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}

#title {
  flex-direction: column;
  line-height: 10px;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 20px;
  font-family: "Poppins";
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: blueviolet;
  transition: 0.3s all;
}

#entreemcontato {
  border: 2px solid blueviolet;
  padding: 10px;
  border-radius: 15px;
}

#entreemcontato:hover {
  background-color: blueviolet;
  color: white;
  transition: 0.3s all;
}
h1 {
  font-family: "Press Start 2P", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 49px;
  font-weight: 100;
  line-height: 70px;
  margin-bottom: -50px;
}

span {
  color: rgb(131, 29, 226);
  font-size: 66px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

p {
  max-width: 500px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: 35px;
  margin-top: 80px;
}
aside{
  padding: 30px;
}
img {
  width: 350px;
}
.whatsapp{
  width: 80px;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input {
  margin-top: 16px;
  height: 20px;
  padding: 20px;
  border-radius: 30px;
  border: none;
}

form [type="submit"] {
  height: 50px;
  width: 50%;
  background: linear-gradient(195deg, blueviolet, black);
  color: white;
  font-weight: bold;

}